@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    background-color: #ffffff;
}





.container {
        //*location on the page
        .header {
            width: 1440px;
            margin: 0 auto;
            position: relative;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            background-color: white;
            .logo {
                position: relative;
                margin-left: 45px;
            }
            .header__nav {
                position: relative;
                width: 977px;
                height: 20px;
                .header__menu {
                    position: relative;
                    display: flex;
                    align-items: center;
                    .header__menu-item {
                        margin-left: 50px;
                    }
                    .header__menu-item:first-child {
                        margin-left: 0px;
                    }
                    .arrow--down {
                        padding-right: 20px;
                        background: url('../image/ico/arrow__down.jpg') right center no-repeat;
                    }
                    .arrow--down:hover {
                        transition: .3s;
                        background: url('../image/ico/arrow__down.jpg') right 5px no-repeat;
                    }
                    //*FONTS
                    .header__menu-link{
                        color: #214E41;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: 'Raleway', Times, serif;
                    }
                    .header__menu-link:focus, .header__menu-link:hover {
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        
                    }
                    .btn__link {
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: 'Raleway', Times, serif;
                    }
                    }
                    //*BTN NAV
                    .header__menu-btn {
                        width: 137px;
                        height: 40px;
                        background-color: #43806C;
                        border-radius: 6px;
                    }
                    .header__menu-btn:hover, .header__menu-btn:focus{
                        background-color: #4aac8b;  
                    }
                }
            }
        
         .wrapper {
            position: relative;
            margin-top: 0px;
            .intro{
                width: 1440px;
                margin: 0 auto;
                position: relative;
                background-color: #CAC8BB;
                background: url('../image/bg/bg1.jpg') center no-repeat;
                height: 720px;
                .intro__wrapper {
                    position: relative;
                    top: 161px;
                    left: 8%;
                    width: 500px;
                }
                //*FONTS
                .intro__title{
                    color: #214E41;
                    font-size: 36px;
                    font-family: 'roboto', sans-serif;
                    line-height: 46px;
                    font-weight: bold;
                }
                .intro__search-desk {
                    margin-top: 40px;
                    font-family: 'raleway', sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    color: #214E41;
                    line-height: 24px;
                    margin-bottom: 16px;
                }
                //*INPUT and BTN
                .intro__search {
                    position: relative;
                    width: 280px;
                    height: 60px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    box-shadow: 0px 4px 4px rgba(129, 129, 123, 1);
                }
                .intro__search::placeholder{
                    font-size: 14px;
                    font-weight: bold;
                    position: relative;
                    left: 20px;
                    line-height: 20px;
                    color: #222222;
                }
                .intro__btn {
                    position: relative;
                    width: 123px;
                    height: 62px;
                    margin-left: -4px;
                    background-color: #43806C;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    color: white;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: 'raleway', sans-serif;
                    line-height: 20px;
                }
             }
         }
        }













