@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  //*location on the page
  .header {
    //?HEADER
    width: 1440px;
    margin: 0 auto;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    .logo {
      position: relative;
      margin-left: 45px;
    }
    .header__nav {
      position: relative;
      width: 977px;
      height: 20px;
      .header__menu {
        position: relative;
        display: flex;
        align-items: center;
        .header__menu-item {
          margin-left: 50px;
        }
        .header__menu-item:first-child {
          margin-left: 0px;
        }
        .arrow--down {
          padding-right: 20px;
          background: url("../image/ico/arrow__down.jpg") right center no-repeat;
        }
        .arrow--down:hover {
          transition: 0.2s;
          background: url("../image/ico/arrow__down.jpg") right 6px no-repeat;
        }
        //*FONTS
        .header__menu-link {
          color: #214e41;
          font-size: 14px;
          font-weight: bold;
          font-family: "Raleway", Times, serif;
        }
        .header__menu-link:focus,
        .header__menu-link:hover {
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .btn__link {
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          font-family: "Raleway", Times, serif;
        }
      }
      //*BTN NAV
      .header__menu-btn {
        width: 137px;
        height: 40px;
        background-color: #43806c;
        border-radius: 6px;
      }
      .header__menu-btn:hover,
      .header__menu-btn:focus {
        background-color: #4aac8b;
      }
    }
  }

  .wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    .intro {
      //?INTRO
      width: 1440px;
      margin: 0 auto;
      position: relative;
      background-color: #cac8bb;
      background: url("../image/bg/bg1.jpg") center no-repeat;
      height: 720px;
      .intro__wrapper {
        position: relative;
        top: 161px;
        left: 8%;
        width: 500px;
      }
      //*FONTS
      .intro__title {
        color: #214e41;
        font-size: 36px;
        font-family: "roboto", sans-serif;
        line-height: 46px;
        font-weight: bold;
      }
      .intro__search-desk {
        margin-top: 40px;
        font-family: "raleway", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #214e41;
        line-height: 24px;
        margin-bottom: 16px;
      }
      //*INPUT and BTN
      .intro__search {
        position: relative;
        width: 280px;
        height: 60px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: 0px 4px 4px rgba(129, 129, 123, 1);
      }
      .intro__search::placeholder {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        left: 20px;
        line-height: 20px;
        color: #222222;
      }
      .intro__btn {
        position: relative;
        width: 123px;
        height: 62px;
        margin-left: -4px;
        background-color: #43806c;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: white;
        font-size: 13px;
        font-weight: bold;
        font-family: "raleway", sans-serif;
        line-height: 20px;
      }
    }
    .aside {
      position: relative;
      z-index: 1;
      max-width: 1200px;
      height: 171px;
      background-color: #fff;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: -76px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      .aside__block {
        position: relative;
        width: 356px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        .aside__ico {
          margin-top: 7px;
          margin-right: 9px;
        }
        //*TEXT
        .aside__text {
          color: #214e41;
          font-weight: regular;
          font-family: "raleway", sans-serif;
          .aside__title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 7px;
          }
          .aside__desk {
            font-size: 14px;
            line-height: 20px;
            max-width: 269px;
          }
        }
      }
      .aside__block:nth-child(even) {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
    .wrapper__chart {
      position: relative;
      min-height: 728px;
      top: -94.5px;
      .chart__container {
        position: relative;
        top: 160px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: 432px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .chart__container--left {
          position: relative;
          top: 37px;
          width: 510px;
          .chart__greetings--left {
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.05000000074505806px;
            text-align: left;
            color: #43806c;
            text-transform: uppercase;
          }
          .chart__title--left {
            margin-top: 20px;
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            text-align: left;
            color: #214e41;
          }
          .chart__desk--left {
            margin-top: 34px;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.019999999552965164px;
            text-align: left;
            color: #757575;
          }
          .chart__btn--left {
            position: relative;
            left: 0;
            margin-top: 26px;
            color: #214e41;
            border-bottom: 2px solid #214e41;
            width: 107px;
            height: 37px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: white;
            .chart__btn--link {
              font-family: Raleway;
              font-size: 18px;
              font-weight: 700;
              line-height: 18px;
              letter-spacing: 0.019999999552965164px;
              text-align: center;
              color: #214e41;
            }
          }
          .chart__btn--left:hover {
            transition: 0.2s;
            background-color: #5cd4b2;
          }
        }
        .chart__container--right {
          position: relative;
          left: 60px;
          width: 510px;
          .diagram__num {
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #214e41;
          }
          .diagram__title {
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 20px;
          }
          .chart__block--int {
            position: relative;
            top: 36px;
            bottom: 32px;
            display: flex;
            .chart__layout--left {
              position: relative;
              top: 133px;
              left: 0;
              width: 255px;
              height: 186px;
              .chart__layout--title {
                margin-left: 10px;
                color: #214e41;
                font-family: Roboto;
                font-size: 70px;
                font-weight: 700;
                line-height: 90px;
                letter-spacing: 0em;
                text-align: left;
              }
              .chart__layout--desk {
                margin-left: 10px;
                margin-top: 30px;
                color: #214e41;
                font-family: Raleway;
                font-size: 13px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0.019999999552965164px;
                text-align: left;
                .border__bottom {
                  border-bottom: 1px solid #214e41;
                }
              }
            }
            .chart__line {
              position: absolute;
              top: 233px;
              margin-left: 10px;
              z-index: 2;
              height: 2px;
              width: 510px;
              background-color: #f0a446;
            }
            .chart__layout--right {
              position: relative;

              margin-left: 10px;
              display: flex;
              align-items: end;
              width: 235px;
              height: 364px;
              .diagram--left {
                position: relative;
                width: 117.5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .diagram--left__rectangle {
                  position: relative;
                  width: 78px;
                  height: 150px;
                  background-color: #43806c;
                }
              }
              .diagram--right {
                position: relative;
                width: 117.5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .diagram--right__rectangle {
                  position: relative;
                  width: 78px;
                  height: 300px;
                  background-color: #43806c;
                }
              }
            }
          }
          .chart__end {
            position: absolute;
            top: 410px;
            left: 253px;
            font-family: Raleway;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #757575;
          }
        }
      }
    }
    .wrapper__text-content {
      position: relative;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .wrapper__text--left {
        position: relative;
        left: 0;
        background-color: #e3eeed;
        width: 705px;
        .text__block--first {
          position: relative;
          left: 20px;
          margin-top: 120px;
          margin-bottom: 120px;
          .text__block--header {
            margin-left: 100px;
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.05000000074505806px;
            text-align: left;
            color: #214e41;
            text-transform: uppercase;
          }
          .text__block--h {
            width: 580px;
            margin-top: 29px;
            margin-left: 100px;
            color: #214e41;
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: left;
            background: url(../image/ico/text1.png) 350px 11px no-repeat;
          }
          .text__block--content {
            position: relative;
            left: 100px;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: left;
            color: #43806c;
            .content__text--h3 {
              height: 42px;
              margin-top: 18px;
            }
          }
        }
      }
      .wrapper__text--right {
        position: relative;
        right: 0;
        width: 735px;
        background-color: #214e41;
        .text__block--last {
          position: relative;
          top: 160px;
          left: 115px;
          width: 500px;

          font-family: Raleway;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
          letter-spacing: 0.019999999552965164px;
          text-align: left;
          color: #fff;
          .text__dest--first {
            width: 488px;
            margin-top: 5px;
            margin-right: 12px;
          }
          .text__desk--last {
            width: 491px;
            margin-top: 34px;
            margin-right: 9px;
          }
        }
      }
    }
    .wrapper__plane {
      position: relative;
      top: 120px;
      margin: 0 auto;
      width: 100%;
      max-width: 1400px;
      .plane__block--first {
        position: relative;
        left: 120px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        .plane__block--left {
          position: relative;
          top: 0;
          width: 600px;
          .plane__block--header {
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.05000000074505806px;
            text-align: left;
            color: #43806c;
            text-transform: uppercase;
          }
          .plane__block--h2 {
            margin-top: 20px;
            margin-bottom: 34px;
            width: 558px;
            font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            text-align: left;
            color: #214e41;
          }
          .plane__block--desk {
            width: 552px;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.019999999552965164px;
            text-align: left;
            color: #757575;
          }
        }
        .plane__block--right{
            position: relative;
            width: 600px;
            .plane__img{
                position: relative;
                left: 40px;
                width: 560px;
                height: 300px;
            }
        }
      }
      .plane__block--last{
        max-width: 1202px;
        position: relative;
        left: 120px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .plane__info{
            position: relative;
            margin-top: 60px;
            margin-right: 50px;
            width: 263px;
            text-align: left;
            .plane__title{
                font-family: Roboto;
                font-size: 60px;
                font-weight: 700;
                line-height: 78px;
                letter-spacing: 0em;
                text-align: left;
                color: #F0A446;
            }
            .plane__desk{
                margin-top: 13px;
                font-family: Raleway;
                font-size: 13px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0.019999999552965164px;
                text-align: left;
                color: #214E41;
            }
        }
        .plane__info:last-child{
            margin-right: 0;
        }
      }
    }
    .wrapper__sheet{
        position: relative;
        top: 240px;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        .sheet__block--left{
            position: relative;
            margin-left: 115px;
            top: 0;
            max-width: 300px;
        }
        .sheet__block--right{
            position: relative;
            top: 0;
            margin-top: 68px;
            margin-left: 103px;
            width: 686px;
            .sheet__block--header, .sheet__block--h2, .sheet__block--desk, .sheet__block--btn{
                margin-left: 120px;
            }
            .sheet__block--header{
                font-family: Raleway;
                font-size: 13px;
                font-weight: 900;
                line-height: 20px;
                letter-spacing: 0.05000000074505806px;
                text-align: left;
                color: #43806C;
                text-transform: uppercase;
            }
            .sheet__block--h2{
                width: 484px;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: left;
                color: #214E41;
                margin-top: 20px;
            }
            .sheet__block--desk{
                width: 546px;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.019999999552965164px;
            text-align: left;
            color: #757575;
            margin-top: 34px;
            }
            .sheet__block--btn{
                font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.019999999552965164px;
                text-align: center;
                margin-top: 26px;

                color: #214e41;
                border-bottom: 2px solid #214e41;
                width: 105px;
                height: 30px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                background-color: white;
            }
            .sheet__block--btn:hover{
                transition: 0.2s;
                background-color: #5cd4b2;
            }
            
        }
    }
    .wrapper__employers{
      position: relative;
      top: 240px;
      margin: 0 auto;
      width: 100%;
      max-width: 1440px;
      height: 522px;
      background: url(../image/bg/bg2.jpg) 0 0/100% auto no-repeat;
      .employers__block{
        position: relative;
        top: 125.5px;
        left: 120px;
        width: 500px;
        .employers__header{
          font-family: Raleway;
                font-size: 13px;
                font-weight: 900;
                line-height: 20px;
                letter-spacing: 0.05000000074505806px;
                text-align: left;
                color: #43806C;
                text-transform: uppercase;
        }
        .employers__h2{
          width: 484px;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: left;
                color: #214E41;
                margin-top: 20px;
        }
        .employers__desk{
          width: 546px;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.019999999552965164px;
            text-align: left;
            color: #757575;
            margin-top: 34px;
        }
        .employers__btn{
          font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0.019999999552965164px;
                text-align: center;
                margin-top: 26px;

                color: #214e41;
                border-bottom: 2px solid #214e41;
                width: 130px;
                height: 30px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                background: none;
        }
        .employers__btn:hover{
          transition: 0.2s;
                background-color: #5cd4b2;
        }
      }
    }

  } //*wrapper-end
}
