@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  background-color: #ffffff;
}

.container .header {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: white;
}
.container .header .logo {
  position: relative;
  margin-left: 45px;
}
.container .header .header__nav {
  position: relative;
  width: 977px;
  height: 20px;
}
.container .header .header__nav .header__menu {
  position: relative;
  display: flex;
  align-items: center;
}
.container .header .header__nav .header__menu .header__menu-item {
  margin-left: 50px;
}
.container .header .header__nav .header__menu .header__menu-item:first-child {
  margin-left: 0px;
}
.container .header .header__nav .header__menu .arrow--down {
  padding-right: 20px;
  background: url("../image/ico/arrow__down.jpg") right center no-repeat;
}
.container .header .header__nav .header__menu .arrow--down:hover {
  transition: 0.2s;
  background: url("../image/ico/arrow__down.jpg") right 6px no-repeat;
}
.container .header .header__nav .header__menu .header__menu-link {
  color: #214E41;
  font-size: 14px;
  font-weight: bold;
  font-family: "Raleway", Times, serif;
}
.container .header .header__nav .header__menu .header__menu-link:focus, .container .header .header__nav .header__menu .header__menu-link:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container .header .header__nav .header__menu .btn__link {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Raleway", Times, serif;
}
.container .header .header__nav .header__menu-btn {
  width: 137px;
  height: 40px;
  background-color: #43806C;
  border-radius: 6px;
}
.container .header .header__nav .header__menu-btn:hover, .container .header .header__nav .header__menu-btn:focus {
  background-color: #4aac8b;
}
.container .wrapper {
  position: relative;
  margin-top: 0px;
}
.container .wrapper .intro {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #CAC8BB;
  background: url("../image/bg/bg1.jpg") center no-repeat;
  height: 720px;
}
.container .wrapper .intro .intro__wrapper {
  position: relative;
  top: 161px;
  left: 8%;
  width: 500px;
}
.container .wrapper .intro .intro__title {
  color: #214E41;
  font-size: 36px;
  font-family: "roboto", sans-serif;
  line-height: 46px;
  font-weight: bold;
}
.container .wrapper .intro .intro__search-desk {
  margin-top: 40px;
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #214E41;
  line-height: 24px;
  margin-bottom: 16px;
}
.container .wrapper .intro .intro__search {
  position: relative;
  width: 280px;
  height: 60px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 4px 4px rgb(129, 129, 123);
}
.container .wrapper .intro .intro__search::-moz-placeholder {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 20px;
  line-height: 20px;
  color: #222222;
}
.container .wrapper .intro .intro__search::placeholder {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 20px;
  line-height: 20px;
  color: #222222;
}
.container .wrapper .intro .intro__btn {
  position: relative;
  width: 123px;
  height: 62px;
  margin-left: -4px;
  background-color: #43806C;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: "raleway", sans-serif;
  line-height: 20px;
}
.container .wrapper .aside {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  height: 171px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -76px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.container .wrapper .aside .aside__block {
  position: relative;
  width: 356px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.container .wrapper .aside .aside__block .aside__ico {
  margin-top: 7px;
  margin-right: 9px;
}
.container .wrapper .aside .aside__block .aside__text {
  color: #214E41;
  font-weight: regular;
  font-family: "raleway", sans-serif;
}
.container .wrapper .aside .aside__block .aside__text .aside__title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
}
.container .wrapper .aside .aside__block .aside__text .aside__desk {
  font-size: 14px;
  line-height: 20px;
}
.container .wrapper .aside .aside__block:nth-child(even) {
  margin-left: 16px;
  margin-right: 16px;
}
.container .wrapper .chart {
  position: relative;
  height: 728px;
  margin-top: -95px;
}
.container .wrapper .chart .chart__container {
  position: relative;
  top: 160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.container .wrapper .chart .chart__container .chart__text {
  position: relative;
  margin-right: 60px;
  max-width: 510px;
  margin-top: 37px;
  margin-right: 60px;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--question {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #43806C;
  text-transform: uppercase;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #214E41;
  margin-top: 20px;
  max-width: 478px;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--desk {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 34px;
  max-width: 477px;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--btn {
  width: 107px;
  height: 36px;
  border-bottom: 2px solid #214E41;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 26px;
  margin-left: 0;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--btn .btn--text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #214E41;
}
.container .wrapper .chart .chart__container .chart__text .chart__text--btn:hover, .container .wrapper .chart .chart__container .chart__text .chart__text--btn:focus {
  transition: 0.2s;
  background-color: #d3fae4;
}
.container .wrapper .chart .chart__container .chart__diagram {
  position: relative;
  top: 176px;
  width: 510px;
  height: 510px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--desk {
  position: relative;
  margin-right: 100px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--desk .chart__diagram--title {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  color: #214E41;
  width: 153px;
  height: 90px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--desk .chart__diagram--line {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  width: 510px;
  height: 2px;
  background-color: #F0A446;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--desk .chart__diagram--text {
  position: relative;
  max-width: 224px;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #214E41;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block {
  position: absolute;
  right: 70px;
  top: 0px;
  display: flex;
  justify-content: right;
  align-items: end;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__first--block {
  position: relative;
  width: 117.5px;
  height: 214px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__first--block .diagram--currency {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__first--block .first--chart {
  position: relative;
  width: 78px;
  height: 150px;
  background-color: #43806C;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__first--block .diagram__title {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__last--block {
  margin-left: 20px;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__last--block .diagram--currency {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__last--block .last--chart {
  position: relative;
  width: 78px;
  height: 300px;
  background-color: #43806C;
}
.container .wrapper .chart .chart__container .chart__diagram .chart__diagram--block .diagram__last--block .diagram__title {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */